@page
@model IndexModel





    <label>Please enter a 5 digit zipcode</label>
    <input id="zipcode" type="text" placeholder="zipcode" pattern="^\d{5}$"/>
    <input id="submitzip" type="submit"/>



<pre id="message" style="margin-top: 2em; border: 1px solid black;"></pre>





