@page
@model IndexModel


<form>


    <label>Please enter a 5 digit zipcode</label>
    <input id="zipcode" type="text" placeholder="zipcode" pattern="^\d{5}$"/>
    <input type="submit"/>
</form>


<div id="message"></div>





